<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{%static 'css/blog.css'%}">

    <title>{%block title_block%} {%endblock%}</title>
</head>
<body>
    <div class="content">
        {%block content%} {%endblock%}
    </div>
    <div class="sidebar">
        <h2>Nishant Blogs</h2>
        <p>Here you can see python updates...</p>
    </div>
    
</body>
</html>